<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>CityWeatherWebApp</display-name>
	<welcome-file-list>
		<welcome-file>jsp/redirect.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>AnadirFavoritosController</servlet-name>
		<servlet-class>es.deusto.ptsi.Controllers.AnadirFavoritosController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>BuscarController</servlet-name>
		<servlet-class>es.deusto.ptsi.Controllers.BuscarController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>EntrarController</servlet-name>
		<servlet-class>es.deusto.ptsi.Controllers.EntrarController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>FavoritosController</servlet-name>
		<servlet-class>es.deusto.ptsi.Controllers.FavoritosController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>IndexController</servlet-name>
		<servlet-class>es.deusto.ptsi.Controllers.IndexController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>QuitarFavoritosController</servlet-name>
		<servlet-class>es.deusto.ptsi.Controllers.QuitarFavoritosController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>RegistroController</servlet-name>
		<servlet-class>es.deusto.ptsi.Controllers.RegistroController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>io.swagger.jaxrs.listing, es.deusto.ptsi</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
	<servlet>
        <servlet-name>Jersey2Config</servlet-name>
        <servlet-class>io.swagger.jersey.config.JerseyJaxrsConfig</servlet-class>
        <init-param>
            <param-name>api.version</param-name>
            <param-value>1.0.0</param-value>
        </init-param>
        <init-param>
            <param-name>swagger.api.basepath</param-name>
            <param-value>http://cityweatherwebapp.appspot.com/webapi</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/webapi/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AnadirFavoritosController</servlet-name>
    	<url-pattern>/anadirfavoritos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>BuscarController</servlet-name>
    	<url-pattern>/buscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>EntrarController</servlet-name>
    	<url-pattern>/entrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>FavoritosController</servlet-name>
    	<url-pattern>/favoritos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexController</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>QuitarFavoritosController</servlet-name>
    	<url-pattern>/quitarfavoritos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>RegistroController</servlet-name>
    	<url-pattern>/registro</url-pattern>
    </servlet-mapping>
</web-app>